// header
$bg-primary-header: #FFF;
$color-text-logo-header: #000000;
$color-text-shadow-header: rgba(0, 0, 0, 0.25);
$color-text-nav-header: #FFF;

// btnLogin
$bg-btn-login: #49C5B6;

// footer
$bg-primary-footer: #C4C4C4;
$color-text-logo-footer: #000000;
$color-text-shadow-footer: rgba(0, 0, 0, 0.25);
$color-text-copy-footer: #656565;
